@font-face {
    font-family: "morbi-rounded";
    src: url(./fonts/morbi/2BF294_D_0.ttf) format("truetype");
}


*{
  outline: 0!important;
}
    body {
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
        color: #f5f6f7;
        font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    }

    .m-t {
        margin-top: 15px;
    }

    p {
        font-size: 16px;
    }

    .p-c-b {
        color: black;
    }

    .p-c-w {
        color: white;
    }

    .panel-body > p {
        color: black;
    }


.toplinks{
  font-size: 15px; 
}

    .margin {
        margin-bottom: 45px;
        font-size: 35px;
        font-weight: bolder;
    }

    .core-values {
        margin-top: -10px;
        font-size: 35px;
        font-weight: bolder;
    }

.para-headings{
  color: #0074D9;
}
    .below-why-liberty {
        /* margin-bottom: 2px; */
        font-size: 30px;
        margin-left: 50px;
        margin-right: 50px;
        line-height: 1.5;
        /* font-weight: bolder; */
    }

  .below-name{
      color: #aaa;
      font-size: 17px;
      margin-top: -14px;
      margin-bottom: -28px;
  }

    .para-below-aboutus{
        font-size: 20px;
        margin-left:3px;
    }

    .bg-1 {
        height: 500px;
        /* background-image: url('../../images/emirates.jpg'); */
        background-image: url('../../images/sheesha.jpg');
    }
.photo{
  height: 200px;
  background-image: url('../../images/jay-mil.jpg');
  border-radius: 50%;
}

.jayphoto{
     border-radius: 50%;
     width: 250px;
     margin-top: 30px;
}

.photo-2{
  height: 200px;
  background-image: url('../../images/jay-mil2.jpg');
}

/* background-image: url('../../images/jay-img.jpg'); */
    .bg-2 {
        background-color: #474e5d;
        color: #ffffff;
    }

    .bg-3 {
        background-color: #ffffff;
        color: #555555;
    }

    .main-btn {
        border-radius: 25px;
        border: 2px solid #edbdde;
        cursor: default;
        padding: 12px 5px;
        text-decoration: none;
    }

    .main-btn:hover {
        text-decoration: none;
    }

    .bg-4 {
        background-color: #2f2f2f;
        color: #fff;
    }

    .p-s {
        p {
            color: #ffffff;
        }
    }

    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
    }
    .txt-center {
        text-align: center;
    }

    .save_20 {
        color: #8e7e69;
        font-size: smaller;
    }

    .navbar-nav li a:hover {
        color: #1abc9c !important;
    }

    .monthly {
        color: white;
        padding: 0px 5px;
    }

    .annual {
        background: white;
        color: #8f8787;
        padding: 12px 11px;
        position: relative;
        left: 5px;
        border-radius: 25px;
    }

    .font-14 {
        font-size: 14px;
    }

    .footer {
        background-color: #6bb8e6;
    }
    /**** pricing ****/

    h2 {
        font-size: 24px;
        text-transform: uppercase;
        color: #303030;
        font-weight: 600;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 19px;
        line-height: 1.375em;
        color: #303030;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .jumbotron {
        background-color: #f4511e;
        color: #fff;
        padding: 100px 25px;
        font-family: Montserrat, sans-serif;
    }

    .container-fluid {
        padding: 60px 50px;
    }

    .bg-grey {
        background-color: #f6f6f6;
    }

    .logo-small {
        color: #f4511e;
        font-size: 50px;
    }

    .logo {
        color: #f4511e;
        font-size: 200px;
    }

    /*.logo-new {
      background: url(../images/icon.jpg) no-repeat 6px center;
      width: 100px;
      height: 100px;
      display: block;
    }*/
    .thumbnail {
        padding: 0 0 15px 0;
        border: none;
        border-radius: 0;
    }

    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

    .carousel-control.right,
    .carousel-control.left {
        background-image: none;
        color: #f4511e;
    }

    .carousel-indicators li {
        border-color: #f4511e;
    }

    .carousel-indicators li.active {
        background-color: #f4511e;
    }

    .item h4 {
        font-size: 19px;
        line-height: 1.375em;
        font-weight: 400;
        font-style: italic;
        margin: 70px 0;
    }

    .item span {
        font-style: normal;
    }

    .panel {
        border: 1px solid #6bb8e5;
        transition: box-shadow 0.5s;
    }

    .panel:hover {
        box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
    }

    .panel-footer .btn:hover {
        border: 1px solid green;
        background-color: #fff !important;
        color: green;
    }

    .panel-heading {
        color: #fff !important;
        background-color: #6BB8E5 !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .panel-footer {
        background-color: white !important;
    }

    .panel-footer h3 {
        font-size: 32px;
        color: black;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: #6bb8e5;
        color: #fff;
    }

    .panel-footer .btn-prim {
        margin: 15px 0;
        background-color: #007dc6;
        color: #fff;
    }

    .panel-footer .btn-prim:hover {
      border: 1px solid green;
      background-color: #fff !important;
      color: green;
    }

    footer .glyphicon {
        font-size: 20px;
        margin-bottom: 20px;
        color: #f4511e;
    }

    .slideanim {
        visibility: hidden;
    }

    .slide {
        animation-name: slide;
        -webkit-animation-name: slide;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }

    @media screen and (max-width: 768px) {
        .col-sm-4 {
            text-align: center;
            margin: 25px 0;
        }
        .btn-lg {
            width: 100%;
            margin-bottom: 35px;
        }
    }

    @media screen and (max-width: 480px) {
        .logo {
            font-size: 150px;
        }
    }

    /***** footer *****/
    .footer--main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #d3d3d3;
        color: white;
    }

    main, .page-width {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    }

    .page-width {
    padding-left: 30px;
    padding-right: 30px;
    }

    @media screen and (min-width: 61.875em)
.page-width {
    width: 990px;
}

   @media screen and (min-width: 61.875em)
.page-width--fluid {
    width: 100%;
    max-width: 1230px;
}

.footer-top {
    padding-top: 1.5625em;
    padding-bottom: 1.5625em;
}

.grid-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .footer-nav {
    border-bottom: 1px solid #555;
    padding-bottom: 1.5625em;
    margin-bottom: 1.5625em;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #767676;
}
.footer-nav a {
    font-family: 'Brandon', Helvetica, Arial, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    margin-right: 15px;
    color: #474e5d;
    display: inline-block;
}
.footer-link {
    font-family: 'Brandon', Helvetica, Arial, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    display: block;
    padding: 0.375em 0;
    color: #474e5d;
    transition: color 300ms ease-in-out;
}
.heading--5 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    font-size: 0.8125em;
    line-height: 1.38;
    font-weight: 900;
    font-family: 'Brandon', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
@media screen and (min-width: 46.875em){
    .grid-item--footer {
    width: 20%;
    padding-right: 30px;
    }
}
.grid-item {
    float: left;
    position: relative;
}
.footer-top +.footer-bottom {
    border-top: 1px solid #555;
}
.footer-bottom {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #767676;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
.footer-social__icon {
    display: inline-block;
    width: 1.125em;
    height: 1.125em;
    margin: 0.3125em 0.5em 0.5em 0;
}
.footer-bottom__links {
    float: right;
    display: inline;
}
/*@media screen and (min-width: 46.875em)*/

.footer-bottom-item {
    font-family: 'Brandon', Helvetica, Arial, sans-serif;
    display: inline;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/****** CARD STYLE *******/
/* Padding - just for asthetics on Bootsnipp.com */
/*body { margin-top:20px; }*/

/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}



.switch6 {
    max-width: 17em;
    margin: 0 auto;
}
.switch6-light > span,
.switch-toggle > span {
    color: #000000;
}
.switch6-light span span,
.switch6-light label,
.switch-toggle span span,
.switch-toggle label
{
    color: #2b2b2b;
}

.switch-toggle a,
.switch6-light span span {
    display: none;
}

.switch6-light {
    display: block;
    height: 50px;
    position: relative;
    overflow: visible;
    padding: 0px;
    margin-left:0px;
    border-radius: 30px;
}
.switch6-light * {
    box-sizing: border-box;
}
.switch6-light a {
    display: block;
    transition: all 0.3s ease-out 0s;
}

.switch6-light label,
.switch6-light > span {
    line-height: 30px;
    vertical-align: middle;
}

.switch6-light label {
    font-weight: 700;
    margin-bottom: px;
    max-width: 100%;
}

.switch6-light input:focus ~ a,
.switch6-light input:focus + label {
    outline: 1px dotted rgb(136, 136, 136);
}
.switch6-light input {
    position: absolute;
    opacity: 0;
    z-index: 5;
}
.switch6-light input:checked ~ a {
    right: 0%;
}
.switch6-light > span {
    position: absolute;
    left: -100px;
    width: 100%;
    margin: 0px;
    padding-right: 100px;
    text-align: left;
}
.switch6-light > span span {
    position: absolute;
    top: 8px;
    left: 0px;
    z-index: 5;
    display: block;
    width: 50%;
    margin-left: 100px;
    text-align: center;
    color: #a0a2a4;
}
.switch6-light > span span:last-child {
    left: 50%;
}
.switch6-light a {
    position: absolute;
    right: 50%;
    top: 0px;
    z-index: 4;
    display: block;
    width: 50%;
    height: 100%;
    padding: 0px;
}
.btn-tog {
    color: #fff;
    background-color: #910d94;
    border-color: #2e6da4;
    border-radius: 40px;
}
.planselect {

}

.no-style-items{
  font-size: 20px;
  text-align: left;
}
.vision-p{
  font-size: 20px;
  /* text-align: left; */
  font-family: morbi-rounded;
}

.morbifont{
  font-family: morbi-rounded;
}
.car-caption{
  color: #ffffff;
}

@media screen and (max-width: 750px){
  /*@media (max-width: 970px) {*/
.car-caption{
    font-size: 11px;
  }
}

/* .ul-bullets {
  margin-left: -18px;
} */

@media screen and (max-width: 750px){
.car-caption{
    margin-left: -39px;
  }
}
